<div class="container" ng-controller="View3Ctrl">
 
    <p ng-show="isError" style="color: red">{{errorMessage}}</p>

    <div class="container"> 

        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Find Company Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Search text</label>
                                <input type="text" class="form-control" ng-model="searchText">

                                <label>Options</label>
                                <select ng-model="searchBy" ng-options="option.name for option in searchOptions"></select>

                                <br>
                                <label>Country</label>
                                <select ng-model="country">
                                    <option value="dk" selected>DK</option>
                                    <option value="no">NO</option>
                                </select>


                                <br>
                                <button class="btn btn-default"  placeholder="Search" ng-click="getCompany()"/>Search</button>
                            </div>
                        </div>
                    </div>
                    <uib-accordion>
                    <div uib-accordion-group class="panel-default" ng-show="hasSomethingToShow" heading="{{unit.name}}" ng-repeat="unit in productionUnits">
                        <div class="col-sm-6">
                            {{unit.address}}
                            {{unit.zipcode}}
                            {{unit.city}}
                            {{}}
                        </div>
                        <div class="col-sm-6">
                            {{unit.email}}
                            {{unit.phone}}
                            {{unit.fax}}
                            {{}}
                        </div>
                    </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
