<div class="container" ng-controller="View3Ctrl">

    <div class="container"> 
        {{data.vat}}
        {{data.name}}

        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Find Company Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Search text</label>
                                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">

                                <label>Options</label>
                                <select ng-model="searchBy" ng-options="option.name for option in searchOptions"></select>

                                <br>
                                <label>Country</label>
                                <select ng-model="country">
                                    <option value="dk" selected>DK</option>
                                    <option value="no">NO</option>
                                </select>

                                
                                <br>
                                <button class="btn btn-default"  placeholder="Search" ng-click="getCompany()"/>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
