<div ng-controller="View4Ctrl">
    <p>Rates show the value of 100 units of the currency in Danish kroner</p><br>
    <div class="col-sm-3">
        <table class="table table-striped table-sm">
            <thead class=" thead thead-inverse">
                <tr>
                    <td><strong>Currency</strong></td>
                    <td><strong>Rate</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in response | orderBy: 'x.map.currency'">
                    <td>{{x.map.currency}}</td>
                    <td>{{x.map.rate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <p><b>Rate Converter</b></p>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label>From: </label>
                    <select ng-model="selectedCurrency">
                        <option ng-repeat="y in response" >{{y.map.currency}}</option>
                    </select>
                    <input type="text" ng-model="fromAmount">
                    <label>To: </label>
                    <select ng-model="desiredCurrency">
                        <option ng-repeat="z in response" >{{z.map.currency}}</option>
                    </select>
                    <input type="text" ng-model="result" readonly>
                    <button class="btn btn-primary" ng-click="convert()">Convert</button>
                </div>
            </div>
        </div>
    </div>
</div>